{% block title %}Take part in Review Quality Collector?{% endblock %}
{% block body %}
    <div class="row">
        <p>
            <a href="https://reviewqualitycollector.org">Review Quality Collector (RQC)</a> is an initiative for improving the quality of scientific peer review. Its core is a mechanism that supplies a reviewer with a receipt for their work for each journal year. The receipt certifies the quality of the rewiewing work based on a journal-specific review quality definition. This turns reviewing into a source of reputation and so improves reviewer motivation and hence review quality.
        </p>
        <p>
            If I agree, the journal will forward my review data (my identity, the review text, various metadata) to RQC and I will receive a reviewing receipt from RQC in exchange.
            <br>
            If I do not agree, neither my identity nor the review text will be passed on to RQC.
            <br>
            See <a href="https://reviewqualitycollector.org/t/faq">reviewqualitycollector.org/t/faq</a> for details. The agreement covers all my reviews for the present journal in the present calendar year; a separate one is needed for any other journal and any other year.
        </p>
        <form method="POST" id="rqc_opting_form" action= "{% url 'rqc_adapter_set_reviewer_opting_status' %}">
            {% csrf_token %}
            {{ form }}
             <button type="submit" class="button success">Submit</button>
        </form>
    </div>
{% endblock body %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const rqc_opting_form = document.querySelector("#rqc_opting_form");
        const forms = document.querySelectorAll('form[method="POST"][enctype="multipart/form-data"]');
        const review_form = forms[1];
        let has_submitted = false;
        rqc_opting_form.onsubmit = function(e) {
            has_submitted = true;
        }
        review_form.onsubmit = function(e) {
            if (!has_submitted) {
                e.preventDefault();
            }
        }
    });
</script>