{% extends "admin/core/base.html" %}
{% load foundation %}

{% block title %}Review Quality Collector{% endblock %}
{% block body %}
    <div class="large-12 columns">
        <div class="box">
            <div class="title-area">
                <h2>Articles in RQC Grading Area</h2>
                <a class="button" href="{% url 'rqc_adapter_rqc_grading_articles' %}?filter=all">All Submissions</a>
            </div>
            <div class="content">
                <table class="small scroll" id="unassigned">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th style="width: 25%">Title</th>
                        <th>Submitted</th>
                        <th>Main Author</th>
                        <th>Editors</th>
                        <th>Section</th>
                        <th>Projected Issue</th>
                        <th>Production Manager</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for article in articles_in_rqc_grading %}
                        <tr>
                            <td>{{ article.pk }}</td>
                            <td>{{ article.safe_title }}</td>
                            <td>{{ article.date_submitted }}</td>
                            <td>{{ article.correspondence_author.full_name }}</td>
                            <td>{% for editor in article.editors %}{{ editor.editor.full_name }}{% if not forloop.last %}, {% endif %}{% endfor %}</td>
                            <td>{{ article.section.name }}</td>
                            <td>{% if article.projected_issue %}{{ article.projected_issue.display_title }}{% else %}None{% endif %}</td>
                            <td><a href="{% url 'rqc_adapter_rqc_grade_article_reviews' article.pk %}">View</a></td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td>No articles in this stage</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <p>
                    The following articles have completed reviews but are not yet in the RQC grading stage. But they can already be graded if you want to. If additional reviews are added later you can submit the article to RQC again and grade the new reviews.
                </p>

                <table class="small scroll" id="unassigned">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th style="width: 25%">Title</th>
                        <th>Submitted</th>
                        <th>Main Author</th>
                        <th>Editors</th>
                        <th>Section</th>
                        <th>Projected Issue</th>
                        <th>Production Manager</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for article in reviewed_articles %}
                        <tr>
                            <td>{{ article.pk }}</td>
                            <td>{{ article.safe_title }}</td>
                            <td>{{ article.date_submitted }}</td>
                            <td>{{ article.correspondence_author.full_name }}</td>
                            <td>{% for editor in article.editors %}{{ editor.editor.full_name }}{% if not forloop.last %}, {% endif %}{% endfor %}</td>
                            <td>{{ article.section.name }}</td>
                            <td>{% if article.projected_issue %}{{ article.projected_issue.display_title }}{% else %}None{% endif %}</td>
                            <td><a href="{% url 'rqc_adapter_rqc_grade_article_reviews' article.pk %}">View</a></td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td>No articles in this stage</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
    </div>
{% endblock body %}
